/* Begin: Header */
/* Begin: Navbar */

.header {
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53d2e);
}

.header__navbar{
    display: flex;
    height: 2.125 rem;
    justify-content: space-between;
}
.header__navbar-list{
    position: relative;
    list-style-type: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    position: relative;
    margin: 0 8px;
    padding: 4px 0;
}

.header__navbar-link,
.header__navbar-item {
    display: inline-block ;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-link:hover{
    opacity: 0.7;
}

.header__navbar-link--bold{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
/* Header QR code*/

.header__qr{
    position: absolute;
    display: none;
    width: 186px;
    background-color: var(--white-color);
    right: 0;
    top: 120%;
    border-radius: 2px;
    padding: 4px;
}
.header__qr::before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    margin-top: -8px;
}
.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px 8px 8px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__qr-download-img{
    padding: 4px;
    width: 50%;
}

/* Header notify */
.header__notify{
    --scale :0;
    --opacity: 0;
    --time-transition: 150ms;
    position: absolute;
    top: 118%;
    width: 440px;
    right: 0;
    border: 1px solid #d3d3d3; 
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top;
    transform: scale(var(--scale));
    opacity:var(--opacity) ;
    will-change: opacity,transform;
    transition: var(--time-transition) transform ,var(--time-transition) opacity;
}
/* header arrow */

.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 18px;
    top: -30px;
}

.header__notify::after{
    content: '';
    width: 87px;
    height: 20px;
    position: absolute;
    top: -13px;
    right: 0;
    cursor: pointer;
}

.header__navbar-item--has-notify:hover .header__notify{
    --scale:1;
    --opacity: 1;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}  
.header__notify-header h3{
    margin: 0 0 0 16px;
    color: #ccc;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;   
    user-select: none;
    -webkit-user-select: none;
} 

.header__notify-list{
    padding-left:0 ;
}

.header__notify-item{
    background-color: rgba(238, 75, 43, 0.1);
}
.header__notify-footer-btn:hover,
.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--seen{
    background-color: var(--white-color);
}

.header__notify-link{
    display: flex;
    width: 100%;
    text-decoration: none;
    padding: 12px;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    font-size: 1.4rem;
    display: block;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 12px;
}

.header__notify-description{
    font-size: 1.2rem;
    display: block;
    color: #756F6E;
}
.header__notify-footer{
    text-align: center;

}
.header__notify-footer-btn{
    display: block;
    padding: 12px;
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;
    color: var(--black-color);
    font-weight: 400;
}

/* End: Navbar */
/* End: Header */